@font-face {
    font-family: 'Monotype Corsiva';
    src: url('MonotypeCorsivaRegular.woff2') format('woff2'),
        url('MonotypeCorsivaRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monotype Corsiva';
    src: url('MonotypeCorsivaBold.woff2') format('woff2'),
        url('MonotypeCorsivaBold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monotype Corsiva';
    src: url('MonotypeCorsivaBoldItalic.woff2') format('woff2'),
        url('MonotypeCorsivaBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monotype Corsiva Regular';
    src: url('MonotypeCorsivaRegularItalic.woff2') format('woff2'),
        url('MonotypeCorsivaRegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

